@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --bg-color :#f6f6f9;
  --span-color:#9672fb;
  --a-color:#a19daf;
  --fotn-color:#2f2651;
  --p-color:#7a7490;
  --buutons-bg:linear-gradient(to right, #9672fb, #a872fc, #b872fc, #c872fc, #d772fb);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--span-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#7759c8 ;
}
*{
  list-style: none;
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html{
  height: --webkit-fill-available;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  height: --webkit-fill-available;
  

}

.App {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 290px){
  .App {
      text-align: center;
  }
}
@media screen and (max-width: 600px){
  .App {
      text-align: center;
      width: 390px;
  }
}